* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --576A86: #373f4a;
  --7d90a8: #7d90a8;
  --EADB8C: #eadb8c;
}

body {
  font-family: "Kanit", sans-serif;
}

/* Container */

/* Navbar */
.navbar {
  background-color: var(--576A86);
}
.navbar-brand {
  color: white;
  font-family: "Protest Guerrilla", sans-serif;
  font-size: 200%;
}
.navbar-nav a {
  color: white;
  font-family: "Kanit", sans-serif;
}
.dropdown-menu a {
  color: black;
}
.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu {
  display: none;
  position: absolute; /* Ensure the dropdown is positioned correctly */
  top: 100%;
  left: 0;
  z-index: 1000;
}

.nav-item.dropdown {
  position: relative;
}

.bi-hamburger {
  color: white;
}

.form-control {
  border: none;
  outline: none;
  background: none;
}

.form-control:focus {
  outline: none; /* Menghilangkan outline biru default */
  box-shadow: none; /* Menghilangkan shadow yang muncul saat focus */
  border-color: transparent; /* Menghilangkan border */
}

.form-inline {
  background-color: white;
  border-radius: 4px;
  padding: 1px;
}

.form-inline svg {
  cursor: pointer;
  margin-right: 10px;
}
.form-responsive {
  display: none;
}

.form-inline input {
  font-family: "Kanit", sans-serif;
}

.search-form {
  position: absolute;
}

.bi-search-responsive {
  color: white;
}

@media (max-width: 992px) {
  .form-responsive {
    display: block;
    display: flex;
    background-color: white;
    border-radius: 4px;
  }

  .search-form {
    position: inherit;
  }

  .navbar-brand {
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  .form-responsive input {
    font-family: "Kanit", sans-serif;
  }

  .form-responsive svg {
    margin-top: 10px;
    margin-right: 10px;
    cursor: pointer;
  }
  .form-inline {
    display: none;
  }
}

/* Featured */
.featured {
  font-family: "Kanit", sans-serif;
  margin-top: 120px;
  position: relative;
}

.featured h3 {
  font-weight: 300;
  padding-left: 10px;
  border-left: 2px solid red;
}

.featured .card {
  border: none;
}

/* .card-body h5 {
  position: absolute;
  top: 180px;
} */

.card-text {
  position: absolute;
  font-size: 65%;
  text-align: left;
  justify-content: left;
}

.card svg {
  position: absolute;
  top: 25%;
  left: 35%;
  display: none;
  cursor: pointer;
}

.bi-play-fill {
  color: white;
}

.card img {
  cursor: pointer;
}

.card img:hover {
  filter: brightness(20%);
  transition: 0.3s;
}

.card img:hover + svg {
  display: block;
  transition: 0.3s;
}

@media (max-width: 575px) {
  .card-konten {
    column-count: 3;
  }
}

/* Terbaru */
.terbaru {
  margin-top: 50px;
  position: relative;
}
.terbaru h5 {
  padding-left: 10px;
  border-left: 2px solid red;
}

.slider-container {
  width: 100%; /* Adjust based on your layout */
  overflow: hidden;
  position: relative;
  padding-top: 20px;
}

.slider-wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slider-item {
  box-sizing: border-box;
  padding: 10px;
}

.prev,
.next {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
  right: 10px;
  top: 0;
  z-index: 999;
}

.prev {
  right: 50px;
}

.container {
  position: relative;
}
.slider-item img {
  width: 100%;
}

.slider-item p {
  text-align: center;
}

@media (max-width: 320px) {
  .slider-item p {
    font-size: 11px;
  }
}

@media (max-width: 375px) {
  .slider-item p {
    font-size: 11px;
  }
}

/* Default setting for mobile (3 items visible) */
.slider-item {
  min-width: calc(100% / 3);
}

/* Tablet view (4 items visible) */
@media (min-width: 768px) {
  .slider-item {
    min-width: calc(100% / 4);
  }
}

/* Desktop/Laptop view (5 items visible) */
@media (min-width: 1024px) {
  .slider-item {
    min-width: calc(100% / 6);
  }
}

.slider-item p {
  margin-top: 10px;
}

/* Deskripsi */
.deskripsi {
  margin-top: 50px;
}
.deskripsi h5 {
  padding-left: 10px;
  border-left: 2px solid red;
}
.deskripsi img {
  width: 150px;
}

.content-item {
  display: none; /* Semua konten disembunyikan secara default */
}

.content-item.visible {
  display: block; /* Konten yang ditampilkan akan menggunakan kelas ini */
}

.deskripsi {
  position: relative;
}

.deskripsi p span {
  font-weight: 300;
  font-size: 15px;
}

.deskripsi p {
  width: 70%;
}

.deskripsi section {
  border-bottom: 1px solid #0000008f;
  height: 250px;
}

@media (max-width: 425px) {
  .deskripsi section {
    height: 150px;
  }
}

@media (max-width: 320px) {
  .deskripsi section {
    height: 150px;
  }
}

/* @media (max-width: 320px) {
  .deskripsi {
  }
} */

.deskripsi p {
  font-weight: bold;
}

.deskripsi .rating {
  background-color: #373f4a;
  padding: 5px;
  font-size: 10px;
  color: white;
}

.deskripsi .year {
  padding-left: 5px;
}

.deskripsi .movie {
  position: absolute;
  background: #a89d68;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
  padding: 5px;
}

@media (min-width: 576px) {
  .deskripsi p {
    line-height: 30px;
    position: absolute;
    left: 170px;
  }
}

@media (max-width: 425px) {
  .deskripsi .rating {
    font-size: 8px;
  }
}

@media (max-width: 576px) {
  .deskripsi img {
    width: 80px;
  }

  .deskripsi .movie {
    font-size: 10px;
  }

  .deskripsi p {
    position: absolute;
    left: 90px;
  }

  .deskripsi p span {
    font-size: 10px;
  }
  .deskripsi p .batas {
    display: none;
  }
}

.deskripsi p {
  padding-left: 20px;
}
.deskripsi .row1 {
  margin-bottom: 20px;
  display: flex;
}

.btn-read-more {
  margin-top: 20px;
}

#more {
  display: none;
}

/* Footer */
.footer {
  background-color: #1c1e20;
  margin-top: 50px;
}

.footer h1 {
  font-family: "Protest Guerrilla", sans-serif;
  color: white;
  font-size: 50px;
  margin-top: 20px;
}

.footer p {
  color: white;
  font-weight: 100;
  font-size: 90%;
}

.footer h5 {
  color: white;
  margin-top: 20px;
}

.footer .garis-bawah {
  border-bottom: 1px solid rgba(255, 255, 255, 0.39);
}

.copyright h6 {
  color: white;
  margin-top: 10px;
  font-weight: 300;
  font-size: 15px;
}

/* Navbar-Footer */
.navbar-footer {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem; /* Mengatur jarak antar elemen */
}

.navbar-footer p {
  border-right: 1px solid rgba(255, 255, 255, 0.39); /* Garis hitam di sekitar teks */
  padding-right: 5px;
}
